@font-face{font-family:'VeraUpIconsStrokeRounded';src:url('fonts/stroke-rounded/VeraUpIconsStrokeRounded.woff2') format('woff2');font-display:block}
.vi-stroke-rounded{font-family:'VeraUpIconsStrokeRounded';font-style:normal;font-weight:normal;line-height:1;display:inline-block;-webkit-font-smoothing:antialiased}
@font-face{font-family:'VeraUpIconsStrokeSharp';src:url('fonts/stroke-sharp/VeraUpIconsStrokeSharp.woff2') format('woff2');font-display:block}
.vi-stroke-sharp{font-family:'VeraUpIconsStrokeSharp';font-style:normal;font-weight:normal;line-height:1;display:inline-block;-webkit-font-smoothing:antialiased}
@font-face{font-family:'VeraUpIconsStrokeStandard';src:url('fonts/stroke-standard/VeraUpIconsStrokeStandard.woff2') format('woff2');font-display:block}
.vi-stroke-standard{font-family:'VeraUpIconsStrokeStandard';font-style:normal;font-weight:normal;line-height:1;display:inline-block;-webkit-font-smoothing:antialiased}
@font-face{font-family:'VeraUpIconsSolidRounded';src:url('fonts/solid-rounded/VeraUpIconsSolidRounded.woff2') format('woff2');font-display:block}
.vi-solid-rounded{font-family:'VeraUpIconsSolidRounded';font-style:normal;font-weight:normal;line-height:1;display:inline-block;-webkit-font-smoothing:antialiased}
@font-face{font-family:'VeraUpIconsSolidSharp';src:url('fonts/solid-sharp/VeraUpIconsSolidSharp.woff2') format('woff2');font-display:block}
.vi-solid-sharp{font-family:'VeraUpIconsSolidSharp';font-style:normal;font-weight:normal;line-height:1;display:inline-block;-webkit-font-smoothing:antialiased}
@font-face{font-family:'VeraUpIconsSolidStandard';src:url('fonts/solid-standard/VeraUpIconsSolidStandard.woff2') format('woff2');font-display:block}
.vi-solid-standard{font-family:'VeraUpIconsSolidStandard';font-style:normal;font-weight:normal;line-height:1;display:inline-block;-webkit-font-smoothing:antialiased}
.vi-activity::before{content:'\f23d'}
.vi-agenda::before{content:'\f23c'}
.vi-ai::before{content:'\f23b'}
.vi-alarm::before{content:'\f23a'}
.vi-alert-circle::before{content:'\f239'}
.vi-alert-triangle::before{content:'\f238'}
.vi-archive::before{content:'\f237'}
.vi-arrow-down::before{content:'\f235'}
.vi-arrow-down-left::before{content:'\f236'}
.vi-arrow-left::before{content:'\f234'}
.vi-arrow-right::before{content:'\f233'}
.vi-arrow-up::before{content:'\f231'}
.vi-arrow-up-right::before{content:'\f232'}
.vi-at::before{content:'\f230'}
.vi-attachment::before{content:'\f22f'}
.vi-badge-check::before{content:'\f22e'}
.vi-balance::before{content:'\f22d'}
.vi-bank::before{content:'\f22c'}
.vi-banknote::before{content:'\f22b'}
.vi-battery::before{content:'\f229'}
.vi-battery-full::before{content:'\f22a'}
.vi-battle-pass::before{content:'\f228'}
.vi-bed::before{content:'\f227'}
.vi-bell::before{content:'\f224'}
.vi-bell-off::before{content:'\f226'}
.vi-bell-ring::before{content:'\f225'}
.vi-bible::before{content:'\f223'}
.vi-bluetooth::before{content:'\f222'}
.vi-bolt::before{content:'\f221'}
.vi-book::before{content:'\f21f'}
.vi-book-open::before{content:'\f220'}
.vi-bookmark::before{content:'\f21e'}
.vi-bracelet::before{content:'\f21d'}
.vi-briefcase::before{content:'\f21c'}
.vi-broom::before{content:'\f21b'}
.vi-bug::before{content:'\f21a'}
.vi-building::before{content:'\f219'}
.vi-business-card::before{content:'\f218'}
.vi-calendar::before{content:'\f210'}
.vi-calendar-alert::before{content:'\f217'}
.vi-calendar-check::before{content:'\f216'}
.vi-calendar-day::before{content:'\f215'}
.vi-calendar-plus::before{content:'\f214'}
.vi-calendar-repeat::before{content:'\f213'}
.vi-calendar-user::before{content:'\f212'}
.vi-calendar-week::before{content:'\f211'}
.vi-camera::before{content:'\f20f'}
.vi-car::before{content:'\f20e'}
.vi-cart::before{content:'\f20d'}
.vi-cash-out::before{content:'\f20c'}
.vi-certificate::before{content:'\f20b'}
.vi-chart-bar::before{content:'\f20a'}
.vi-chart-line::before{content:'\f209'}
.vi-chart-pie::before{content:'\f208'}
.vi-chat::before{content:'\f206'}
.vi-chat-lines::before{content:'\f207'}
.vi-chats::before{content:'\f205'}
.vi-check::before{content:'\f201'}
.vi-check-circle::before{content:'\f204'}
.vi-check-double::before{content:'\f203'}
.vi-check-square::before{content:'\f202'}
.vi-chest::before{content:'\f200'}
.vi-chevron-down::before{content:'\f1ff'}
.vi-chevron-left::before{content:'\f1fe'}
.vi-chevron-right::before{content:'\f1fd'}
.vi-chevron-up::before{content:'\f1fc'}
.vi-chevrons-left::before{content:'\f1fb'}
.vi-chevrons-right::before{content:'\f1fa'}
.vi-choir::before{content:'\f1f9'}
.vi-chores::before{content:'\f1f8'}
.vi-church::before{content:'\f1f7'}
.vi-circle::before{content:'\f1f6'}
.vi-clipboard::before{content:'\f1f4'}
.vi-clipboard-check::before{content:'\f1f5'}
.vi-clock::before{content:'\f1f2'}
.vi-clock-check::before{content:'\f1f3'}
.vi-close::before{content:'\f1f0'}
.vi-close-circle::before{content:'\f1f1'}
.vi-cloud::before{content:'\f1ed'}
.vi-cloud-download::before{content:'\f1ef'}
.vi-cloud-upload::before{content:'\f1ee'}
.vi-code::before{content:'\f1eb'}
.vi-code-square::before{content:'\f1ec'}
.vi-cog::before{content:'\f1ea'}
.vi-coin::before{content:'\f1e9'}
.vi-coins::before{content:'\f1e8'}
.vi-comment-question::before{content:'\f1e7'}
.vi-confetti::before{content:'\f1e6'}
.vi-contact::before{content:'\f1e5'}
.vi-contactless::before{content:'\f1e4'}
.vi-copy::before{content:'\f1e3'}
.vi-corner-down-right::before{content:'\f1e2'}
.vi-cpu::before{content:'\f1e1'}
.vi-credit-card::before{content:'\f1df'}
.vi-credit-card-check::before{content:'\f1e0'}
.vi-cross::before{content:'\f1de'}
.vi-crown::before{content:'\f1dd'}
.vi-dashboard::before{content:'\f1dc'}
.vi-database::before{content:'\f1db'}
.vi-design::before{content:'\f1da'}
.vi-dice::before{content:'\f1d9'}
.vi-discount::before{content:'\f1d8'}
.vi-dollar::before{content:'\f1d7'}
.vi-door::before{content:'\f1d6'}
.vi-download::before{content:'\f1d5'}
.vi-drag::before{content:'\f1d4'}
.vi-drum::before{content:'\f1d3'}
.vi-duplicate::before{content:'\f1d2'}
.vi-edit::before{content:'\f1d1'}
.vi-expand::before{content:'\f1d0'}
.vi-export::before{content:'\f1cf'}
.vi-external-link::before{content:'\f1ce'}
.vi-eye::before{content:'\f1cc'}
.vi-eye-off::before{content:'\f1cd'}
.vi-file::before{content:'\f1c8'}
.vi-file-pdf::before{content:'\f1cb'}
.vi-file-plus::before{content:'\f1ca'}
.vi-file-text::before{content:'\f1c9'}
.vi-film::before{content:'\f1c7'}
.vi-filter::before{content:'\f1c6'}
.vi-fingerprint::before{content:'\f1c5'}
.vi-flag::before{content:'\f1c4'}
.vi-folder::before{content:'\f1c2'}
.vi-folder-open::before{content:'\f1c3'}
.vi-friends::before{content:'\f1c1'}
.vi-fullscreen::before{content:'\f1c0'}
.vi-gamepad::before{content:'\f1bf'}
.vi-gem::before{content:'\f1be'}
.vi-gift::before{content:'\f1bd'}
.vi-git-branch::before{content:'\f1bc'}
.vi-globe::before{content:'\f1bb'}
.vi-goal::before{content:'\f1ba'}
.vi-graduation::before{content:'\f1b9'}
.vi-grid::before{content:'\f1b7'}
.vi-grid-game::before{content:'\f1b8'}
.vi-guitar::before{content:'\f1b6'}
.vi-hands-praying::before{content:'\f1b5'}
.vi-handshake::before{content:'\f1b4'}
.vi-headphones::before{content:'\f1b3'}
.vi-heart::before{content:'\f1b2'}
.vi-help-circle::before{content:'\f1b1'}
.vi-history::before{content:'\f1b0'}
.vi-home::before{content:'\f1af'}
.vi-hourglass::before{content:'\f1ae'}
.vi-house-users::before{content:'\f1ad'}
.vi-id-card::before{content:'\f1ac'}
.vi-idea::before{content:'\f1ab'}
.vi-image::before{content:'\f1aa'}
.vi-import::before{content:'\f1a9'}
.vi-inbox::before{content:'\f1a8'}
.vi-info-circle::before{content:'\f1a7'}
.vi-invoice::before{content:'\f1a6'}
.vi-kanban::before{content:'\f1a5'}
.vi-key::before{content:'\f1a4'}
.vi-keyboard::before{content:'\f1a3'}
.vi-keychain::before{content:'\f1a2'}
.vi-kitchen::before{content:'\f1a1'}
.vi-lamp::before{content:'\f1a0'}
.vi-languages::before{content:'\f19f'}
.vi-laptop::before{content:'\f19e'}
.vi-layers::before{content:'\f19d'}
.vi-layout::before{content:'\f19c'}
.vi-lesson::before{content:'\f19b'}
.vi-level::before{content:'\f19a'}
.vi-library::before{content:'\f199'}
.vi-lightbulb::before{content:'\f198'}
.vi-link::before{content:'\f197'}
.vi-list::before{content:'\f195'}
.vi-list-check::before{content:'\f196'}
.vi-loading::before{content:'\f194'}
.vi-lock::before{content:'\f193'}
.vi-mail::before{content:'\f191'}
.vi-mail-open::before{content:'\f192'}
.vi-map::before{content:'\f18f'}
.vi-map-pin::before{content:'\f190'}
.vi-medal::before{content:'\f18e'}
.vi-meditation::before{content:'\f18d'}
.vi-megaphone::before{content:'\f18c'}
.vi-menu::before{content:'\f18a'}
.vi-menu-compact::before{content:'\f18b'}
.vi-metronome::before{content:'\f189'}
.vi-mic::before{content:'\f187'}
.vi-mic-off::before{content:'\f188'}
.vi-minus::before{content:'\f185'}
.vi-minus-circle::before{content:'\f186'}
.vi-mobile-money::before{content:'\f184'}
.vi-monitor::before{content:'\f183'}
.vi-moon::before{content:'\f182'}
.vi-more-horizontal::before{content:'\f181'}
.vi-more-vertical::before{content:'\f180'}
.vi-music-note::before{content:'\f17f'}
.vi-music-notes::before{content:'\f17e'}
.vi-mute::before{content:'\f17d'}
.vi-navigation::before{content:'\f17c'}
.vi-network::before{content:'\f17b'}
.vi-nfc::before{content:'\f17a'}
.vi-notification::before{content:'\f179'}
.vi-office::before{content:'\f178'}
.vi-palette::before{content:'\f177'}
.vi-pause::before{content:'\f176'}
.vi-pencil::before{content:'\f175'}
.vi-percent::before{content:'\f174'}
.vi-phone::before{content:'\f172'}
.vi-phone-off::before{content:'\f173'}
.vi-piano::before{content:'\f171'}
.vi-pie-chart::before{content:'\f170'}
.vi-pin::before{content:'\f16f'}
.vi-plant::before{content:'\f16e'}
.vi-play::before{content:'\f16d'}
.vi-playlist::before{content:'\f16c'}
.vi-plug::before{content:'\f16b'}
.vi-plus::before{content:'\f168'}
.vi-plus-circle::before{content:'\f16a'}
.vi-plus-square::before{content:'\f169'}
.vi-podcast::before{content:'\f167'}
.vi-podium::before{content:'\f166'}
.vi-postpone::before{content:'\f165'}
.vi-power::before{content:'\f164'}
.vi-presentation::before{content:'\f163'}
.vi-printer::before{content:'\f162'}
.vi-priority::before{content:'\f161'}
.vi-privacy::before{content:'\f160'}
.vi-profile-share::before{content:'\f15f'}
.vi-puzzle::before{content:'\f15e'}
.vi-qr-code::before{content:'\f15d'}
.vi-radio::before{content:'\f15c'}
.vi-ranking::before{content:'\f15b'}
.vi-receipt::before{content:'\f15a'}
.vi-record::before{content:'\f159'}
.vi-redo::before{content:'\f158'}
.vi-refresh::before{content:'\f157'}
.vi-rehearsal::before{content:'\f156'}
.vi-repeat::before{content:'\f155'}
.vi-restore::before{content:'\f154'}
.vi-reward::before{content:'\f153'}
.vi-ring::before{content:'\f152'}
.vi-robot::before{content:'\f151'}
.vi-rocket::before{content:'\f150'}
.vi-rules::before{content:'\f14f'}
.vi-safe::before{content:'\f14e'}
.vi-scan::before{content:'\f14d'}
.vi-search::before{content:'\f14c'}
.vi-send::before{content:'\f14b'}
.vi-server::before{content:'\f14a'}
.vi-settings::before{content:'\f149'}
.vi-share::before{content:'\f148'}
.vi-sheet-music::before{content:'\f147'}
.vi-shield::before{content:'\f145'}
.vi-shield-check::before{content:'\f146'}
.vi-shopping-bag::before{content:'\f144'}
.vi-shopping-list::before{content:'\f143'}
.vi-shuffle::before{content:'\f142'}
.vi-sidebar::before{content:'\f141'}
.vi-signal::before{content:'\f140'}
.vi-skip-back::before{content:'\f13f'}
.vi-skip-forward::before{content:'\f13e'}
.vi-smartphone::before{content:'\f13d'}
.vi-sofa::before{content:'\f13c'}
.vi-sort::before{content:'\f13b'}
.vi-sparkle::before{content:'\f13a'}
.vi-speaker::before{content:'\f139'}
.vi-split-expense::before{content:'\f138'}
.vi-square::before{content:'\f137'}
.vi-stand::before{content:'\f136'}
.vi-star::before{content:'\f134'}
.vi-star-half::before{content:'\f135'}
.vi-steering-wheel::before{content:'\f133'}
.vi-stop::before{content:'\f132'}
.vi-stopwatch::before{content:'\f131'}
.vi-store::before{content:'\f130'}
.vi-sun-alt::before{content:'\f12f'}
.vi-sunrise::before{content:'\f12e'}
.vi-swap::before{content:'\f12d'}
.vi-sword::before{content:'\f12c'}
.vi-table::before{content:'\f12b'}
.vi-tablet::before{content:'\f12a'}
.vi-tag::before{content:'\f129'}
.vi-tap::before{content:'\f128'}
.vi-target::before{content:'\f127'}
.vi-task::before{content:'\f124'}
.vi-task-add::before{content:'\f126'}
.vi-task-list::before{content:'\f125'}
.vi-terminal::before{content:'\f123'}
.vi-thermometer::before{content:'\f122'}
.vi-thumbs-up::before{content:'\f121'}
.vi-ticket::before{content:'\f120'}
.vi-timer::before{content:'\f11f'}
.vi-toggle-off::before{content:'\f11e'}
.vi-toggle-on::before{content:'\f11d'}
.vi-transfer::before{content:'\f11c'}
.vi-trash::before{content:'\f11b'}
.vi-trend::before{content:'\f119'}
.vi-trend-down::before{content:'\f11a'}
.vi-trophy::before{content:'\f118'}
.vi-undo::before{content:'\f117'}
.vi-unlock::before{content:'\f116'}
.vi-upload::before{content:'\f115'}
.vi-user::before{content:'\f10e'}
.vi-user-check::before{content:'\f114'}
.vi-user-circle::before{content:'\f113'}
.vi-user-group::before{content:'\f112'}
.vi-user-plus::before{content:'\f111'}
.vi-user-remove::before{content:'\f110'}
.vi-user-square::before{content:'\f10f'}
.vi-users::before{content:'\f10d'}
.vi-video::before{content:'\f10b'}
.vi-video-camera::before{content:'\f10c'}
.vi-volume::before{content:'\f10a'}
.vi-wallet::before{content:'\f108'}
.vi-wallet-alt::before{content:'\f109'}
.vi-washing-machine::before{content:'\f107'}
.vi-widget::before{content:'\f106'}
.vi-wifi::before{content:'\f104'}
.vi-wifi-off::before{content:'\f105'}
.vi-word-grid::before{content:'\f103'}
.vi-wrench::before{content:'\f102'}
.vi-zoom-in::before{content:'\f101'}